/* Topだけで使うCSS */
/* Contactだけで使うCSS */
@charset "UTF-8";

/* h1 */
.h1 {
    text-align: center;
    margin: 70px;
}

/* section */
.section {
    text-align: center;
    margin: 70px;
}
.section p {
    display: inline-block;
    text-align: left;
}

/* nav */
.nav {
    margin-bottom: 30px;
    text-align: center;
    margin: 100px;
}
.nav-list li {
    display: inline-block;
    margin: 0;
}
.nav-list li:first-child {
    border-left: none;
}
.nav-list a {
    display: inline-block;
    padding: 0 10px;
    line-height: 1.2;
    text-transform: uppercase;
    text-decoration: none;
}

/* photo */
.photo {
    list-style: none;
    display: flex;
    justify-content: center;
}
.photo img {
    width: 250px;
}

/* botton */

.button {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 250px;
    height: 40px;
    padding: 8px 24px;
    font-size: 16px;
    text-align: center;
    border: none;
    border: 8px double darkcyan;
}

.topreturn {
    text-align: center;
}
